h1 {
     color: #000000;
     font-size: 40px;
     text-align: center;
}

h2 {
  color: #070808;
  font-size: 33px;
}

p {
    color: 444;
}

a {
  color: 333;
}

.cargo {
   color: #d48938;
  font-weight: bold;
}

.link-social {
     color: ##b3dee3;
}  

#hero {
  background-color: #F4942F;   
}

#sobre {
  background-color:#E1E1E1;
}

#habilidades {
   background-color:#E1E1E1;
}

#projetos {
  background-color:#E1E1E1;
}

#contato {
  background-color:#E1E1E1;
}

footer {
  background-color:#1D1816;
}

footer p {
  color:#edf0f0;
}
  
  

