h1 {
     color: #000000;
     font-size: 40px;
     text-align: center;
}

h2 {
  color: #070808;
  font-size: 33px;
}

p {
    color: 444;
}

a {
  color: 333;
}

.cargo {
   color: #F4942F;
  font-weight: bold;
}

.link-social {
     color: ##b3dee3;
}  

#hero {
  background-color: #e8f4f8;
}

#sobre {
  background-color: #cae2eb;
}

#habilidades {
   backgroud-color: #c0e0eb;
}

#projetos {
  background-color: #b5dbe8;
}

#contato {
  background-color:#97cadb;
}

footer {
  background-color:#b9edeb;
}

footer p {
  color:#edf0f0;
}
  
  

