h1 {
     color: #000000;
     font-size: 40px;
     text-align: center;
}

h2 {
  color: #070808;
  font-size: 33px;
}

p {
    color: #000000;
}

a {
  color: #000000;
}

.cargo {
   color: #ffffff;
  font-weight: bold;
}

.link-social {
     color: #b3dee3;
}  

#hero {
  background-color: #CCDCDB;   
  padding: 30px;
  margin: 20px;
  border: 2px solid black;    
     
}

#hero img {
    width: 300px;
    border-radius: 20px;
    width: 100%
    max-width 300px; 
}

#sobre {
  background-color:#ffffff;
}

#habilidades {
   background-color:#ffffff;
}

#projetos {
  background-color:#ffffff;
}

#contato {
  background-color:#ffffff;
}

footer {
  background-color:#000000;
}

footer p {
  color:#edf0f0;
}
  
  
body{
    font-family: Arial, sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    display: flex;
    align-items: center; 
}

nav{
    display: flex;
    gap: 20px;
}

.projetos-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-template-columns: 1fr;
    gap: 20px; 
}

@media (min-width: 768px) {

  nav {
    flex-direction: row;
    justify-content: center;
  }

  header{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .projetos-grid{
    grip-template-columns: repeat(3, 1fr);
  }
}
